@mixin onSuperLargeDesktop {
  @media screen and (max-width: 1600px) {
    @content;
  }
}

@mixin onVeryLargeDesktop {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin onLargeDesktop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin onDesktop {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin onTablet {
  @media screen and (max-width: 700px) {
    @content;
  }
}

@mixin onPhone {
  @media screen and (max-width: 500px) {
    @content;
  }
}


@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Montserrat|Oswald&display=swap);

html, body {
  font-size: 10px;
  height: 100%;
  box-sizing: border-box;
  color: white;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: inherit;
}

.bold {
  font-weight: bold;
}

main {
  display: grid;
  grid-template-areas: 
    "left top right"
    "left middle right"
    "left bottom right"
    "footer footer footer";
  
  @include onSuperLargeDesktop {
    grid-template-areas: 
    "top top top"
    "middle middle middle"
    "bottom bottom bottom"
    "footer footer footer";
    
    grid-template-rows: none;
    grid-template-columns: none;
  }
  
  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: 1fr 500px 1fr;
  
  .fact {
    font-size: 2rem;
    padding: 20px;
    margin: 30px 60px;
    border-radius: 20px;
    background: rgba(0,0,0,0.5);
    
    &:nth-child(odd) {
      transform: rotateZ(-3deg);
    }
    
    &:nth-child(even) {
      transform: rotateZ(3deg);
    }
    
    &__header {
      margin-bottom: 1rem;
      font-family: 'Montserrat', sans-serif;
      font-size: 3rem;
    }
    
    &__content {
      font-family: 'Indie Flower', sans-serif;
      font-size: 2rem;
    }
  }
  
  .left-side, .right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    @include onSuperLargeDesktop {
      display: none;
    }
  }
  
  .left-side {
    grid-area: left;
  }
  
  .right-side {
    grid-area: right;
  }
  
  #img-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    #image {
      display: block;
      max-width: 300px;
      border-radius: 100%;
      
      @include onPhone {
        max-width: 200px;
      }
    }
    
    #img-caption {
      font-family: 'Oswald';
      font-size: 1.5rem;
      padding: 1rem;
    }
  }
  
  .profile, .profile__descriptionWrapper, #tribute-info {
    background: rgba(0, 0, 0, 0.5);
  }
  
  .profile {
    grid-area: top;
    padding: 10px;
    text-align: center;
   
    #title {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      font-size: 6rem;
      font-weight: bold;
      padding: 10px 0px;
      
      @include onPhone {
        font-size: 4rem;
      }
    }
    
    &__snippet {
      font-family: 'Indie Flower', sans-serif;
      font-size: 4rem;
      padding: 20px 0px;
      
      @include onPhone {
        font-size: 3rem;
      }
    }
    
    &__descriptionWrapper {
      grid-area: middle;
      padding: 20px 40px;
      text-align: justify;
      
      @include onPhone {
        padding: 20px;
      }
    }
    
    &__description {
      font-family: 'Oswald', sans-serif;
      letter-spacing: 1px;
      font-size: 2rem;
      text-indent: 5rem;
      margin-bottom: 1rem;
    }
  }
  
  #tribute-info {
    grid-area: bottom;
    text-align: center;
    
    .timeline {
      min-width: 300px;
      max-width: 900px;
      margin: auto;
      
      @include onVeryLargeDesktop {
        max-width: 800px;
      }
      
      @include onLargeDesktop {
        max-width: 800px;
      }
      
      @include onDesktop {
        max-width: 600px;
      }
      
      @include onTablet {
        max-width: 400px;
      }
      
      @include onPhone {
        max-width: 300px;
      }
    }
    
    .timelineHeader {
      font-family: 'Oswald';
      font-size: 6rem;
      font-weight: bold;
      padding: 10px 0px;
      
      @include onPhone {
        font-size: 4rem;
        margin: 4rem 0;
      }
    }
    
    .timelineWrapper {
      list-style: none;
      text-align: center;
    }
    
    .timelineItemText {
      padding-right: 40px;
      font-family: 'Oswald', sans-serif;
          
      @include onPhone {
        padding: 10px 40px 10px 0;
      }
    }
    
    .timelineItem {
        z-index: 1;
        font-size: 2rem;
        border: 2px solid rgba(255, 255, 255, 0.8);
        padding: 40px;
        border-top: none;
        user-select: none;
        transition: all .3s ease-in;
      
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      
        @include onPhone {
          padding: 40px 20px;
        }
      
        &:first-child {
          border-top: none;
          
          @include onPhone {
            border-top: 1px solid white;
          }
        }
      
        &:last-child {
          border-bottom: none;
        }
      
        &[data-year]:before, &[data-year]:after {
          display: none;
          transition: color .3s ease-in, background .3s ease-in;
          content: attr(data-year);
          position: absolute;
          border-radius: 50%;
          padding: 16px 10px;
          height: 3em;
          width: 3em;
          background-color: white;
          color: black;
          text-align: center;
          line-height: 1.25em;
          font-size: 1em;
          font-family: 'Oswald';
        }
      
        &:hover:before, &:hover:after {
          background: rgba(0, 0, 0, 0.5);
          color: white;
        }
      
        &:nth-child(odd) {
          padding-right: 0;
          border-right: none;
          
          &:before {
            display: block;
            margin: -20px 0 0 -70px;
            
            @include onPhone {
              margin: -70px 0 0 -5px;
            }
          }
        }

        &:nth-child(even) {
          padding-right: 0;
          border-left: none;
          
          &:after {
            display: block;
            margin: -41px 0 0 430px;
            
            @include onSuperLargeDesktop {
              margin: -41px 0 0 830px;
            }
            
            @include onVeryLargeDesktop {
              margin: -41px 0 0 730px;
            }
            
            @include onLargeDesktop {
              margin: -41px 0 0 730px;
            }
            
            @include onDesktop {
              margin: -41px 0 0 530px;
            }
            
            @include onTablet {
              margin: -41px 0 0 330px;
            }
            
            @include onPhone {
              margin: -151px 0 0 207px;
            }
          }
        }
    }
  }
  
  .footer {
    background: black;
    grid-area: footer;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 1px 0px 10px 0px;
    
    &__author {
      font-size: 3rem;
      font-family: 'Oswald', sans-serif;
      user-select: none;
    }
    
    &__social-media {
      display: flex;
    }
    
    &__social {
      color: white;
      margin: 10px;
      transition: color 0.3s ease-in;
      
      &:hover {
        color: gray;
      }
    }
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 10px;
  z-index: -1;
  filter: brightness(0.6);
  background: black;
  
  @include onPhone {
    grid-template-columns: 1fr;
  }
}

.wrapper {
  width: 450px;
  margin: 6rem auto;
  
  @include onTablet {
    width: 350px;
  }
  
  @include onPhone {
    width: 300px;
  }
  
  &:before, &:after {
    content: ' ';
    display: block;
    border-bottom: solid 2px white;
    transform: scaleX(0);  
    transition: transform .5s ease-in-out;
  }
  
  &:before {
    margin-bottom: 5px;
    transition: transform .3s ease-in-out;
  }
  
  &:after {
   margin-top: 10px; 
  }
  
  &:hover:before, &:hover:after {
    transform: scaleX(1);
  }
}

#tribute-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
  @include onTablet {
    font-size: 4rem;
  }
  
  @include onPhone {
    font-size: 3rem;
  }
  
  .wikipedia-image {
    width: 50px;
    height: auto;
    margin-left: 3rem;
    
    @include onTablet {
      width: 30px;
      margin-left: 2rem;
    }
  }
  
  &::before {
    border: 1px solid white;
  }
}